Click==7.0
Flask==1.1.1
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
Werkzeug==0.16.0
Flask-SQLAlchemy==2.3.2
psycopg2-binary==2.7.7
flask-migrate==2.4.0
Flask-Testing==0.7.1
Flask-RESTful==0.3.7