.menu-links {
    position: absolute;
    right: 0;
    margin-right: 5em !important;
  }
  
.MuiAppBar-colorPrimary {
  background-color: rgb(37, 37, 37) !important;
  color: rgb(37, 37, 37)
}
.primary {
  background-color: rgb(37, 37, 37) !important;
  color: rgb(37, 37, 37)
}
.secondary {
  color: rgb(243, 243, 243) !important
}
.indent {
  color: rgb(255, 51, 102) !important
}

.link-items {
  padding: 10px;
}

.grid-containers {
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.route-container {
  padding: 20px;
}

.container-text {
  padding: 10px;
  text-align: center;
}

.number{
  font-size: 2.4em;
}

.MuiList-padding {
  padding-top: 80px !important;
}
